// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//Media Queries Breakpoints
$bp-largest: 75em; // 1200 px
$bp-large: 56.25em; // 900 px
$bp-medium: 50em; // 800 px


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-largest){
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  color: $color-grey-dark-2;
  line-height: 1.6;
}

.container {
  display: grid;

  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    repeat(8, [col-start]minmax(min-content, 14rem) [col-end]) minmax(6rem, 1fr)
    [full-end];

    @media only screen and (max-width: $bp-large){
      grid-template-columns:
      [ full-start] minmax(6rem, 1fr)
      repeat(8, [col-start]minmax(min-content, 14rem) [col-end]) minmax(6rem, 1fr)
      [full-end];
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    }

    @media only screen and (max-width: $bp-medium){
      grid-template-rows: 6rem calc(100vh-6rem) min-content min-content 40vw repeat(3, min-content);
    }
  // &>*{
  //   font-size: 20px;
  //   padding: 30px;
  // }
}

.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1;
  grid-column: sidebar-start/sidebar-end;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  


  @media only screen and (max-width: $bp-large){
    grid-row: 1 / 2;
    grid-column: 1/ -1;
    justify-content: flex-end;
    align-items: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-large){
      justify-content: flex-end;
      align-items: center;
    }

    &__btn {
      height: 2px;
      width: 4rem;
      border: none;
      background-color: #fff;
      margin-top: 4rem;

      &::before,
      &::after {
        content: "";
        height: 2px;
        width: 4rem;
        background-color: #fff;
        display: block;

        @media only screen and (max-width: $bp-large){
          height: 1.5px;
        }  
      }

      &::before {
        transform: translateY(-1.2rem);

        @media only screen and (max-width: $bp-large){
          transform: translateY(-1rem);
        }  
      }

      &::after {
        transform: translateY(-0.5rem);

        @media only screen and (max-width: $bp-large){
          transform: translateY(-1rem);
        }

      }

      @media only screen and (max-width: $bp-large){
        margin-top: 0;
        margin-right: 3rem;
        height: 1.5px;
      }
    }
  }
}

.header {
  grid-column: full-start / col-end 6;

  display: grid;
  padding: 7rem;
  padding-top: 4rem;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  grid-template-rows: 1fr min-content minmax(6rem,max-content) 1fr;
  grid-template-columns:minmax( min-content,max-content);
  justify-content: center;
  grid-row-gap: 2rem;

  

  &__logo {
    max-height: 3rem;
    max-width: 100%;
    justify-self: center;
  }

  &__asSeenOn-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1rem;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      background-color: currentColor;
    }
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__asSeenOn-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;

    img {
      height: 2rem;
      filter: brightness(70%);
    }
  }
}

.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;

  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 2rem;
  justify-items: center;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
  }

  &__img {
    width: 6.5rem;
    border-radius: 50%;
    transition: all 0.2s;
    filter: brightness(70%);
    transform: scale(1.1);

    &:hover {
      filter: brightness(100%);
      transform: scale(1);
    }
  }

  &__sold {
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}

.features {
  margin: 15rem 0;

  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;

  .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    align-items: start;

    &__icon {
      fill: $color-primary;
      width: 4.5rem;
      height: 4.5rem;
      grid-row: 1 / span 2;
      transform: translateY(-1rem);
    }

    &__text {
      font-size: 1.7rem;
    }
  }
}

.story {
  &__photo {
    background-color: $color-grey-dark-1;
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    grid-column: full-start / col-end 4;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  &__img {
    &--1 {
      width: 100%;
      grid-row: 2 / 6;
      grid-column: 2 / 6;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      filter: brightness(80%);
      transition: all 0.2s;

      &:hover {
        filter: brightness(100%);
      }
    }

    &--2 {
      width: 115%;
      grid-row: 4 / 6;
      grid-column: 4 / 7;
      z-index: 20;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      transition: all 0.2s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}

.homes {
  grid-column: col-start 1 / col-end 8;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;
  position: relative;
  display: grid;
  grid-template-columns: 5rem repeat(2, 1fr);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3),
    inset 1rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4),
      inset 1rem 2rem rgba(0, 0, 0, 0.5);
  }

  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 55% 100%, 0 75%);
  }

  &__icon {
    fill: $color-primary;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__name {
    font-size: 1.8rem;
    font-family: $font-display;
    color: #fff;
    background-color: $color-secondary;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem;
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    // align-self:center;
    writing-mode: vertical-rl;
    z-index: 2;
  }

  &__details {
    margin: 2rem 1rem;
    grid-column: 2 / -1;
    // justify-self: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  &__location,
  &__area,
  &__room,
  &__price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
      fill: $color-primary;
      margin-right: 1rem;
    }
  }

  &__button {
    grid-column: 1 / 4;
    box-shadow: none;
  }
}

.gallery {
  background-color: $color-grey-light-1;
  grid-column: full-start/ full-end;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;

  &__item {
    filter: brightness(60%);
    transition: all 0.4s;
    transform: scale(1);

    &:hover {
      filter: brightness(100%);
      filter: blur(0);
      transform: scale(0.92);
    }

    &--1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

    &--2 {
      grid-column: 3 / span 3;
      grid-row: 1 / span 3;
    }

    &--3 {
      grid-column: 6 / span 1;
      grid-row: 1 / span 2;
    }

    &--4 {
      grid-column: 7 / -1;
      grid-row: 1 / span 2;
    }
    &--5 {
      grid-column: 1 / span 2;
      grid-row: 3 / span 3;
    }
    &--6 {
      grid-column: 3 / span 2;
      grid-row: 4 / span 2;
    }
    &--7 {
      grid-column: 5 / 6;
      grid-row: 4 / 5;
    }
    &--8 {
      grid-column: 6 / span 2;
      grid-row: 3 / span 2;
    }
    &--9 {
      grid-column: 8 / -1;
      grid-row: 3 / span 3;
    }
    &--10 {
      grid-column: 1 / 2;
      grid-row: 6 / span 2;
    }
    &--11 {
      grid-column: 2 / span 2;
      grid-row: 6 / span 2;
    }
    &--12 {
      grid-column: 4 / 5;
      grid-row: 6 / -1;
    }
    &--13 {
      grid-column: 5 / span 3;
      grid-row: 5 / -1;
    }
    &--14 {
      grid-column: 8 / -1;
      grid-row: 6 / -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer {
  background-color: $color-secondary;
  grid-column: full-start/ full-end;
  padding: 8rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  list-style-type: none;

  &__link:link,
  &__link:visited {
    font-family: $font-display;
    font-size: 1.4rem;
    color: #fff;
    padding: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

// ************** Typography *********************//

%heading {
  font-family: $font-display;
  font-weight: 300;
}

.heading-1 {
  @extend %heading;

  font-size: 4.5rem;
  line-height: 1;
  color: $color-grey-light-1;
}

.heading-2 {
  @extend %heading;

  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-3 {
  @extend %heading;

  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-primary;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn-full {
  border: none;
  background-color: $color-primary;
  padding: 1.8rem 3rem;
  color: #fff;
  font-size: 1.8rem;
  font-family: $font-display;
  cursor: pointer;

  &--1 {
    box-shadow: 0.5rem 1rem 0.5rem rgba($color-primary, 0.5);
    transition: all 0.2s;

    &:hover {
      background-color: $color-primary-dark;
      box-shadow: 0.25rem 0.5rem 0.25rem rgba($color-primary, 0.5);
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: inset 0 -0.5rem 1rem rgba($color-primary, 0.5),
        inset 0 0.5rem 1rem rgba($color-primary-dark, 0.5),
        0 0.5rem 1rem rgba($color-primary, 0.5);
    }
  }

  &:focus {
    outline: none;
  }
}

// ************** Utilities Classes *********************//

.u-mb-sm {
  margin-bottom: 2rem;
}
.u-mb-md {
  margin-bottom: 3rem;
}
.u-mb-lg {
  margin-bottom: 4rem;
}
.u-mb-hg {
  margin-bottom: 8rem;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}


